---
layout: base.liquid
pagination:
  data: collections.blog
  size: 1
  reverse: true
permalink: "blog/{% if pagination.pageNumber > 0 %}page-{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
<section>
  <div class="py-16 bg-gray-100">
    <div class="w-full max-w-6xl mx-auto px-4">
      <h1 class="heading-xl mb-4">{{ title | escape }}</h1>
      {{- content | safe -}}
    </div>
  </div>
  <div class="w-full max-w-6xl mx-auto px-4 py-16">
    {%- if pagination.items -%}
      <div class="flex flex-row flex-wrap">
        {% for article in pagination.items %}
          <div class="w-full md:w-1/2">
            {%- include article-item,
                article: article
            -%}
          </div>
        {% endfor %}
      </div>
      <hr class="my-16" />
      {%- include pagination -%}
    {%- endif -%}
  </div>
</section>